
body
{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header
{
    padding: 2rem;
    margin-bottom: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

header, aside, main > div
{
    background-color: bisque;
}

header h1
{
    margin-top: 0;

    font-size: 3rem;
}

header p
{
    margin-bottom: 0;
}

header p, aside, main, form *
{
    font-size: 2rem;
}

aside
{
    margin-top: 2rem;
    min-width: 500px;
}

main
{
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem 4rem;
}

aside, .task-content
{
    padding: 1.5rem;
}

.task-dropdown
{
    display: none;
    background-color: cornflowerblue;
    position: absolute;
    height: max-content;
}

.task:hover > .task-dropdown
{
    display: block;
}

.task-button
{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    padding: 10px;
}

.task-button:hover
{
    background-color: aqua;
}

.icon
{
    width: 64px;
    height: 64px;

    background-repeat: no-repeat;
    background-size: contain;

    display: block;
}

.icon-edit
{
    background-image: url('gear-fill.svg');
}

.icon-delete
{
    background-image: url('trash3-fill.svg');
}